In [ ]:
import json
import pandas as pd
import pickle
import altair as alt
# alt.renderers.enable('altair_viewer')
alt.renderers.enable('json')
import json5
try:
    %matplotlib inline
except Exception as e:
    pass

import warnings
warnings.filterwarnings("ignore")
import util
import numpy as np

In [ ]:
data_40k : dict = util.json_load('./data-40k--1577837713577')

In [303]:
orders: dict = util.json_load('./output.json5')

using pickle: output.pickle

[{'time': 1577836803078, 'actions': ['buyB', 'sellA']},
 {'time': 1577836833217, 'actions': ['buyB']},
 {'time': 1577836863343, 'actions': ['buyB']},
 {'time': 1577836893387, 'actions': ['sellA']},
 {'time': 1577836923677, 'actions': ['buyB', 'sellA']},
 {'time': 1577836989903, 'actions': ['buyB']},
 {'time': 1577837020323, 'actions': ['buyB', 'sellA']},
 {'time': 1577837050481, 'actions': ['buyA']},
 {'time': 1577837080884, 'actions': ['buyA', 'sellB']},
 {'time': 1577837225846, 'actions': ['buyB', 'sellA']},
 {'time': 1577837452300, 'actions': ['buyA', 'sellB']},
 {'time': 1577837602690, 'actions': ['buyA', 'sellB']},
 {'time': 1577837683373, 'actions': ['buyB']},
 {'time': 1577837713577, 'actions': ['buyB']}]

In [ ]:
datadf = pd.DataFrame.from_dict(data_40k,orient='index')


def asks(state):
    ask_ = state['ask']
    return ask_
def bids(state):
    bid_ = state['bid']
    return bid_

assetA:pd.DataFrame = datadf.assetA.apply([asks, bids])
assetB:pd.DataFrame = datadf.assetB.apply([asks, bids])

In [ ]:
assetA['action'] = [np.nan for i in range(len(assetA))]
assetA

In [430]:
orderdf = pd.DataFrame(orders, columns=['time','actions','buyB','buyA','sellB','sellA'])
# orderdf.index = orderdf.time
# orderdf.set_index('time',inplace=True)
# orderdf['Time'] = orderdf.time
# del orderdf['time']
orderdf

             time        actions  buyB  buyA  sellB  sellA
0   1577836803078  [buyB, sellA]   NaN   NaN    NaN    NaN
1   1577836833217         [buyB]   NaN   NaN    NaN    NaN
2   1577836863343         [buyB]   NaN   NaN    NaN    NaN
3   1577836893387        [sellA]   NaN   NaN    NaN    NaN
4   1577836923677  [buyB, sellA]   NaN   NaN    NaN    NaN
5   1577836989903         [buyB]   NaN   NaN    NaN    NaN
6   1577837020323  [buyB, sellA]   NaN   NaN    NaN    NaN
7   1577837050481         [buyA]   NaN   NaN    NaN    NaN
8   1577837080884  [buyA, sellB]   NaN   NaN    NaN    NaN
9   1577837225846  [buyB, sellA]   NaN   NaN    NaN    NaN
10  1577837452300  [buyA, sellB]   NaN   NaN    NaN    NaN
11  1577837602690  [buyA, sellB]   NaN   NaN    NaN    NaN
12  1577837683373         [buyB]   NaN   NaN    NaN    NaN
13  1577837713577         [buyB]   NaN   NaN    NaN    NaN

In [431]:
for i, act in enumerate(orderdf.actions):
    orderdf['buyB'].iloc[i] = 'buyB' in act 
    orderdf['buyA'].iloc[i] = 'buyA' in act 
    orderdf['sellB'].iloc[i] = 'sellB' in act
    orderdf['sellA'].iloc[i] = 'sellA' in act
del orderdf['actions']
orderdf

             time   buyB   buyA  sellB  sellA
0   1577836803078   True  False  False   True
1   1577836833217   True  False  False  False
2   1577836863343   True  False  False  False
3   1577836893387  False  False  False   True
4   1577836923677   True  False  False   True
5   1577836989903   True  False  False  False
6   1577837020323   True  False  False   True
7   1577837050481  False   True  False  False
8   1577837080884  False   True   True  False
9   1577837225846   True  False  False   True
10  1577837452300  False   True   True  False
11  1577837602690  False   True   True  False
12  1577837683373   True  False  False  False
13  1577837713577   True  False  False  False

In [ ]:
chart = alt \
    .Chart(orderdf,width=500, height=1000) \
    .mark_point() \
    .encode(
        x='time:T',
#         y='index:T',
        y='buyB:N',
        y2='buyA:N',
#         y3='sellB:N',
#         y4='sellA:N',
)
chart.show()

Displaying chart at http://localhost:22758/

In [ ]:
for i in range(len(assetA)):
    ts = assetA.index[i]

In [ ]:
util.plotmany(assetA.index, [
    (assetA[['asks','bids']], dict(label='Asks & Bids')),
    (assetA['actions'], dict(label='actions', marker='^', color='white')),
])

In [ ]:
util.plot(assetA[['asks','bids']], title='Asset A')

In [ ]:
assetA['actions']

In [ ]:
util.plotmany(assetA.index, [
    (assetA[['asks','bids']], dict(label='Asks & Bids')),
    (assetA['actions'], dict(label='actions', marker='^', color='white')),
])

In [ ]:
util.plot(assetB, title='Asset B')